APP_NAME="PDV Estoque"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_TIMEZONE=America/Sao_Paulo

DB_CONNECTION=sqlite
DB_DATABASE=storage/database/pdv.sqlite

SESSION_NAME=pdv_session
SESSION_SECURE=false
SESSION_SAMESITE=Lax

LOG_PATH=storage/logs/app.log
